---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = 'About Me - Nelailen';

const identity = {
  firstName: 'Nicole',
  country: 'USA',
  occupation: 'Cybersecurity',
  hobbies: ['photography', 'birdwatching', 'collecting', 'exploring'],
};

const interests = [
  'bad weather',
  'nonograms',
  'finding old things',
  'mechanical pencils',
];

const happy = true;
const finished = false;
const goal = 3;

const interestColor = 'indigo';
const fontWeight = 'bold';
const textCase = 'uppercase';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ interestColor, fontWeight, textCase }}>
      h1 {
        color: magenta;
        font-size: 3rem;
      }

      h2 {
        color: lime;
        font-size: 1.5rem;
      }
      .interest {
        color: var(--interestColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Header />

    <h1>A bit about me</h1>
    <h2>...and this site</h2>
    <p>
      I am an entry level cybersecurity professional on a journey to start a new
      career. My path into cybersecurity has been, let's say, interesting. I
      come from a non-technical background, having majored in Finance and
      Economics, and worked in the financial sector for over ten years after
      university.
    </p>
    <p>
      Initially wanting to share what I learned, I started keeping write-ups on
      github, though wanting a space of my own ultimately led to the creation of
      this site. Now it's here and I hope to share my journey into
      cybersecurity, and write on about a variety of topics that interest me.
    </p>

    <p>
      I consider myself a perpetual learner. My curious and investigative spirit
      drives me to seek new activities and get to the root of things. I also
      enjoy collecting hobbies, creating and exploring.
    </p>

    <p>
      DISCLAIMER!!! This site is an evolving living space, built on trial and
      error, curiosity, inspiration and a desire to create something of my own.
      As I learn to work with CSS and HTML there's no "best practices" or
      optimization just yet. While I intend to develop some sort of organization
      with respect to content, I'm still learning, and will continue make
      adjustments as I go. This is my space to have fun, experiment and play, so
      glitches, incomplete content and odd features might show up <em
        >occassionally</em
      >.
    </p>

    <h3>Here are a few notes about me:</h3>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in the {identity.country} and I work in {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            My hobbies include: {identity.hobbies[0]}, {identity.hobbies[1]} and{' '}
            {identity.hobbies[3]}
          </li>
        )
      }
    </ul>
    <p>Some of my favorite things include:</p>
    <ul>
      {interests.map((interest) => <li class='interest'>{interest}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
    <Footer />
    <script>
      import '../scripts/menu.js';
    </script>
  </body>
</html>
