---
import BaseLayout from '../layouts/BaseLayout.astro';
import Preview from '$components/Preview.astro';
import Note from '../components/Note.astro';
import { blogFilter } from '$utils';
import { getCollection } from 'astro:content';
import { randomArrayEntry } from '$utils';

const posts = (await getCollection('blog'))
  .sort((a, b) => {
    return b.data.pubDate.getTime() - a.data.pubDate.getTime();
  })
  .filter(blogFilter)
  .slice(0, 3);
const notes = (await getCollection('notes'))
  .sort((a, b) => {
    return b.data.pubDate.getTime() - a.data.pubDate.getTime();
  })
  .slice(0, 3);
const pageTitle = 'Nelailen';
const greating = randomArrayEntry([
  'Hi',
  'Hello',
  'Howdy',
  'Hey there',
  'Hej',
  'Hallo',
  'Hola',
  'Habari',
  'Wes hāl',
  'Ahoy',
  'Saluton',
  'Salam',
  'zdravo',
  'Moni',
  'Bonghjornu',
  'Bonjour',
  'Ola',
  'Sannu',
  'Ciao',
  'salve',
  'Sawa',
  'שלום',
  'Alohaʻoe',
  'Moien',
  'Hiha',
  'Talofa',
]);
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class='greet'>{greating}...</h1>
  <section>
    <h2>Welcome, internet person.</h2>
    <p class='intro-sub'>
      This is my personal website, where I do whatever I like... If you'd like
      to read a little bit about who I am and all, go <a href='/about/'>here</a
      >.
    </p>
  </section>

  <section class='list-container'>
    <h3>Recent posts</h3>
    {posts.map((post) => <Preview post={post} />)}
  </section>
  <section class='list-container'>
    <h3>Latest notes</h3>
    {
      notes.map((note) => (
        <Note url={`/notes/${note.id}/`} title={note.data.title} />
      ))
    }
  </section>
</BaseLayout>

<style>
  .content {
    display: flex;
    flex-direction: column;
  }
  .intro {
    padding-block: 0.5rem;
    margin-bottom: 1rem;
  }
  .intro-sub {
    margin-bottom: 0.5rem;
  }
  .intro p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 0.75rem;
  }
  .intro ul {
    padding-inline: 1rem;
  }

  .intro ul li {
    list-style: none;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .intro ul li::marker {
    content: '\2023\0020 ';
    font-size: 1.2rem;
    color: var(--moonscape);
  }

  .list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5;
    margin-block: 0.5rem;
    padding-block: 0.5rem;
  }
  h1.greet {
    font-family: 'Anuphan Variable';
    font-size: 2.2rem;
    font-style: italic;
    text-transform: lowercase;
    &::before {
      content: '* ';
    }
  }
  h3 {
    margin-top: 0rem;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Anuphan Variable', 'Segoe UI', Tahoma, Geneva, Verdana,
      sans-serif;
    color: var(--purple-ink);
  }
</style>
