---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SideBar from '../components/structure/SideBar.astro';
import BackToTop from '$components/BackToTop.astro';
import '../styles/global.css';
// Supports weights 300-900
import '@fontsource-variable/rubik';
// Supports weights 100-700
import '@fontsource-variable/anuphan';

interface Props {
  pageTitle?: string;
  description?: string | undefined;
}

const { pageTitle, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle ? `${pageTitle} - nelailen` : 'nelailen'}</title>
    <meta
      name='description'
      content={description ? description : 'My personal website'}
    />
    <meta name='theme-color' content='#F50062' />
    <meta
      name='theme-color'
      content='#F50062'
      media='(prefers-color-scheme: dark)'
    />
    <meta property='og:title' content={pageTitle ? pageTitle : 'nelailen'} />
    <meta
      property='og:description'
      content={description ? description : 'My personal website'}
    />

    <title>{pageTitle}</title>
    <link rel='canonical' href={canonicalURL} />
    <meta property='og:url' content={canonicalURL} />
    <script src='../assets/scripts/main.ts'></script>
  </head>
  <body>
    <div class='main-wrapper'>
      <SideBar />

      <main class='content-wrapper'>
        <Header />
        <slot />
        <Footer />
        <BackToTop />
      </main>

      <script>
        import '../scripts/menu.js';
      </script>
      <script is:inline>
        const theme = localStorage.getItem('theme'),
          isSystemDark = window.matchMedia(
            '(prefers-color-scheme: dark)'
          ).matches;
        theme === 'dark' || (!theme && isSystemDark)
          ? document.documentElement.classList.add('dark')
          : theme === 'light'
            ? document.documentElement.classList.remove('dark')
            : theme === 'system' &&
              isSystemDark &&
              document.documentElement.classList.add('dark');
      </script>
    </div>
  </body>
</html>
